numpy
pandas
geopandas
cartopy
planetary-computer
rasterio
stackstac[viz]
dask[distributed]
matplotlib
pystac-client
geemap
streamlit
jupyterlab
xarray[complete]
xarray-spatial
rioxarray
localtileserver
numexpr